<div class="div__container">
  <app-header [isOnAir]="goOnAir"></app-header>
  <div *ngIf="!hasCamera">loading webcam ...</div>
  <div class="row__goLive" *ngIf="hasCamera">
    <input
      type="checkbox"
      id="goOnAir"
      name="goOnAir"
      (change)="toggleGoLive()"
    />
    <label for="goOnAir">Webcam detected! Click to start ascii-art</label>
  </div>
  <div class="div__video__container">
    <div class="canvas__container">
      <!-- <img #picture src="https://picsum.photos/id/1009/320/240" /> -->
      <video
        [width]="width"
        [height]="height"
        autoplay
        id="videoElement"
        #videoElement
      ></video>
    </div>
    <div class="canvas__container">
      <canvas #canvas id="canvas" [width]="width" [height]="height"></canvas>
    </div>
  </div>
</div>
